/* Base styles */

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  color: var(--color-primary-dark);
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
  background-color: var(--color-primary-light);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

a {
  display: inline-block;
}

address {
  font-style: normal;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.visually-hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
