/* Chefs Section */

.chefs-title {
  position: relative;
  margin: 0 auto 80px;
}

.chefs-title::before,
.chefs-title::after {
  position: absolute;
  bottom: 24px;
  content: '';
  width: 352px;
  border: 2px solid var(--color-brand-light);
}

.chefs-title::before {
  left: 0;
}

.chefs-title::after {
  right: 0;
}

.chefs-list {
  display: flex;
  gap: 40px 30px;
  flex-wrap: wrap;
}

.chefs-item {
  flex-basis: calc((100% - 30px) / 2);
}
