/* Formats Section */

.formats-container {
  display: flex;
  gap: 32px;
  align-items: center;
}

.formats-list {
  display: flex;
  gap: 20px;
  padding: 24px;
  flex-wrap: wrap;
}

.formats-item {
  flex-basis: calc((100% - 40px) / 3);
}

.formats-title {
  margin-bottom: 80px;
}
