/* Modal */

.backdrop {
  position: flex;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 24px 0;
  transition: opacity 0.3s, visibility 0.3s;
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: 2 hidden;
  pointer-events: none;
}

.modal {
  position: relative;
  width: 100%;
  max-width: 880px;
  height: 100%;
  max-height: 880px;
  background-color: var(--color-primary-light);
  border-radius: 32px;
  padding: 128px;
  overflow-y: auto;
}

.modal-btn-close {
  position: absolute;
  top: 40px;
  right: 40px;
}
