/* Section */

.section-title {
  font-size: 62px;
  line-height: 1.3;
  font-weight: 900;
}

.section-title.centered {
  text-align: center;
}

.section-title .accent {
  color: var(--color-brand-dark);
}
