/* Carousel Button */

.carousel-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  fill: var(--color-primary-dark);
  padding: 0;
  background-color: transparent;
  border-radius: 50%;
  border: 1px solid var(--color-primary-dark);
  cursor: pointer;
  flex-shrink: 0;
}

.carousel-button:hover {
  background-color: var(--color-primary-dark);
  fill: var(--color-primary-light);
}

.carousel-button.next {
  transform: rotate(180deg);
}
