/* Format Card */

.format-card {
  height: 444px;
  padding: 24px;
  background-image: linear-gradient(
    180deg,
    rgba(49, 38, 26, 0) 55.21%,
    rgba(49, 38, 26, 0.71) 72.92%,
    var(--color-primary-dark) 100%
  );
  border: 1px solid lightgrey; /* remove */
  border-radius: 16px;
  transition: transform 0.3s;
}

.format-card:hover {
  transform: scale(1.05);
}

.format-title {
  font-size: 24px;
  font-weight: 600;
}

.format-text {
  font-size: 14px;
  font-weight: 300;
}
